@{
    ViewBag.Title = "Página de Inicio";
}

<div class="jumbotron">
    <h1>Universidad</h1>
    <p class="lead">Este proyecto gestiona la informaci&oacute;n de una Universidad.</p>
    <p><a href="https://github.com/abelflz/Proyecto-Web-Universidad" class="btn btn-primary btn-lg">Github del Proyecto &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tecnolog&iacute;a utilizada</h2>
        <p>
            Este Sistema est&aacute; desarrollado en ASP.NET, con el patr&oacute;n MVC versi&oacute;n 5 y ORM Entity Framework 6.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>